.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/.intellijPlatform/localPlatformArtifacts/bundledModule-intellij.platform.vcs.impl-242.20224.387+970.xml
/.intellijPlatform/localPlatformArtifacts/bundledModule-intellij.platform.vcs.log.impl-242.20224.387+970.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-com.intellij.copyright-242.20224.387+747.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-com.intellij.java-2024.2.0.1+20.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-com.intellij.platform.images-242.20224.387+408.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-com.jetbrains.performancePlugin-242.20224.387+398.xml
/.intellijPlatform/self-update.lock
/.intellijPlatform/localPlatformArtifacts/bundledModule-intellij.platform.vcs.impl-242.20224.387+468.xml
/.intellijPlatform/localPlatformArtifacts/bundledModule-intellij.platform.vcs.log.impl-242.20224.387+468.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-com.intellij.copyright-242.20224.387+309.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-com.intellij.java-2024.2.0.1+934.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-com.intellij.platform.images-242.20224.387+650.xml
/.intellijPlatform/localPlatformArtifacts/bundledPlugin-com.jetbrains.performancePlugin-242.20224.387+84.xml
